.users-page {
	flex: 1;
	display: flex;
	padding: 30px;
	gap: 20px;
	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 5px;
		.wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
			flex: 1 1 auto;
		}
	}
	&__properties {
		flex: 0 0 380px;
		display: flex;
		flex-direction: column;
		gap: 5px;

		@media (max-width: 1300px) {
			flex: 0 0 300px;
		}
	}
}

.users-block {
	flex: 1;
	display: flex;
	flex-direction: column;
	.block__content {
		flex: 1;
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}

	.users-search-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		&__search {
			width: 100%;
			padding: 0;
			border: 1px solid gray;

			input {
				line-height: 2em;
				font-size: 1.6rem;
				padding: 0 10px;
				width: 100%;
				border: 0;
			}
		}

		.loading {
			width: 40px;
			aspect-ratio: 1;
			right: 5px;
			top: 0;
			pointer-events: none;
			visibility: hidden;

			&.active {
				visibility: visible;
			}
		}

		&__filter {
		}
	}
	.users-filter {
		position: relative;
		&__btn {
		}

		&__popup {
		}

		&__label {
			position: absolute;
			right: -9px;
			top: -9px;
			background-color: black;
			color: white;
			aspect-ratio: 1;
			height: 1.4em;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-size: 1.8rem;

			&:empty {
				display: none;
			}
		}
	}
	.users-list {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
		&__actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__list {
			flex: 1 1 auto;
			height: 0;
			overflow: auto;
			padding: 4px;
			padding-right: 10px;
			display: flex;
			flex-direction: column;

			&:empty {
				&.loaded {
					&::after {
						content: "Ничего не найдено";
						text-align: center;
						font-size: 1.8rem;
					}
				}
			}
		}

		&__item {
			font-size: 1.5rem;
			padding: 4px 10px;
			box-shadow: 0 0 4px rgba(black, 0.3);
			user-select: none;
			cursor: pointer;

			&.active {
				background-color: #b8ffd7;
				cursor: default;
			}

			@media (max-width: 1300px) {
				font-size: 1.2rem;
			}
		}
	}
}

.info-per-day,
.comes-block {
	flex: 1;
	.block__content {
		align-items: flex-start;
		font-size: 2rem;

		&:empty {
			&::after {
				content: "Студент не выбран";
				color: rgba(black, 0.7);
				align-self: center;
			}
		}
	}
}

.comes-block {
	.block__content {
		gap: 30px;
		align-items: flex-start;
	}
}
