.comes-grid {
	font-size: 3rem;

	&__title {
		font-size: 1em;
		text-align: right;
		padding-right: 20px;
		color: gray;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
	&__item {
		color: gray;
		text-align: center;
		padding: 0.1em 0.3em;
		background-color: rgba(black, 0.1);
		user-select: none;
		cursor: pointer;

		&.head {
			font-size: 0.8em;
			background-color: transparent;
			padding-top: 4px;
			padding-bottom: 4px;
			cursor: default;
		}
		&.old {
			background-color: transparent;
		}
		&.present {
			background-color: rgb(1, 145, 1);
			color: white;
		}
		&.absent {
			background-color: rgb(211, 95, 0);
			color: white;
		}
		&.selected {
			box-shadow: inset 0 0 10px 5px var(--color6);
			cursor: default;
		}
	}

	@media (max-width: 1300px) {
		font-size: 2.4rem;
	}
}
