.main-page {
	padding: 30px;
}

.today-block {
	.block__content {
		gap: 15px;
	}
	.enter-count-circle-bar {
		--progress-value: 75;
	}
	.exit-count-circle-bar {
		--stroke-color: var(--color4);
		--progress-value: 25;
	}
	.in-count-circle-bar {
		--stroke-color: var(--color5);
		--progress-value: 50;
	}
}
