.header {
	display: flex;
	align-items: center;
	background-color: var(--color1);
	gap: 20px;
	justify-content: space-between;
	padding: 2rem 4rem;
	box-shadow: 0 4px 4px color-mix(in oklch, var(--color1) 20%, transparent);
}

.logo {
	font-size: 20px;
	color: white;
}

.menu {
	display: flex;
	align-items: center;
	&__item {
		color: white;
		font-size: 1.8rem;
		// border: 2px solid transparent;
		transform: skew(-15deg);
		padding: 5px 14px;
		font-weight: 600;
		span {
			transform: skew(15deg);
			display: block;
		}

		&.active {
			box-shadow: 0 0 10px rgba(white, 0.4) inset;
			// border-bottom: 2px solid white;
			background: var(--bg-gradient);
		}
	}
}

.profile {
	position: relative;

	&__open-btn {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 2rem;
		padding-left: 1rem;

		&:hover {
			background-color: rgba(black, 0.3);
		}
	}
	&__name {
		color: white;
	}
	&__details {
		height: 2em;
	}

	&__popup {
		position: absolute;
		bottom: 0;
		right: 0;
		translate: 0 100%;
		background: var(--bg-gradient);
		box-shadow: 0 0 10px rgba(white, 0.4) inset,
		 0 3px 10px rgba(black, 0.4) ;
		display: none;
		
	}
	&__popup-btn {
		font-size: 1.6rem;
		line-height: 2rem;
		color: white;
		padding: 1rem 2rem;
		&:hover {
			background-color: rgba(black, 0.1);
		}
	}

	&.active {
		.profile__details {
			rotate: 180deg;
		}
		.profile__popup {
			display: block;
		}
	}
}
