.keys-info-block {
	.block__content {
		justify-content: space-between;
		align-items: flex-start;
		min-height: 15dvh;
		visibility: hidden;
		position: relative;

		&.active {
			visibility: visible;
		}

		.loading {
			position: absolute;
			visibility: visible;
			left: 50%;
			top: 50%;
			translate: -50% -50%;
		}

		.block__notice {
			position: absolute;
			visibility: visible;
			font-size: 2rem;
			color: rgba(0, 0, 0, 0.7);
			left: 50%;
			top: 50%;
			translate: -50% -50%;
		}
	}
	&__descr {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__text {
		font-size: 18px;
		font-weight: 600;
		span {
			font-weight: 400;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.reader-select-block {
	flex: 1;
}
.reader-layout {
	display: flex;
	align-items: center;
	width: min(80%, 700px);
	max-width: 100%;
	user-select: none;
	pointer-events: none;
	position: relative;
	aspect-ratio: 635/265;
	&__img {
		height: 100%;
    width: 100%;
    object-fit: contain;
	}

	&__btn {
		position: absolute;
		font-size: 2vw;
		border: 0;
		border-radius: 8px;
		aspect-ratio: 1;
		height: 14.5%;
		background-color: red;
		display: flex;
		justify-content: center;
		align-items: center;
		filter: drop-shadow(0 0 6px rgba(black, 0.5));
		--disabled-grad: linear-gradient(45deg, #737373 20%, #c2c2c2 75%);
		--ready-grad: linear-gradient(45deg, #f57600 20%, #ffd600 75%);
		--read-grad: linear-gradient(45deg, #0076be 20%, #73caff 75%);
		--completed-grad: linear-gradient(45deg, #1e9145 20%, #00ff57 75%);
		background: var(--disabled-grad);
		transition: 200ms scale ease;

		&:nth-of-type(1) {
			top: 0%;
			left: 88%;
		}
		&:nth-of-type(2) {
			top: 43%;
			left: 88%;
		}
		&:nth-of-type(3) {
			top: 0%;
			left: 7%;
		}
		&:nth-of-type(4) {
			top: 43%;
			left: 7%;
		}

		&:hover,
		&.selected {
			scale: 1.3;
		}
	}

	&.ready {
		.reader-layout__btn {
			background: var(--ready-grad);
			pointer-events: auto;
		}
	}
	&.ready {
		.reader-layout__btn {
			background: var(--ready-grad);
			pointer-events: auto;
			&.selected {
				background: var(--read-grad);
				pointer-events: none;
			}
		}
	}
	&.completed {
		.reader-layout__btn {
			pointer-events: none;
			&.selected {
				background: var(--completed-grad);
			}
		}
	}
}
