#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

body {
	background-color: var(--bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 0 30px;
	margin: 0 auto;
}

.btn {
	padding: 0.8rem 1.6rem;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(black, 0.3);
	background-color: var(--color3);
	color: white;
	font-size: 1.8rem;
	&:hover {
		opacity: 0.8;
	}

	&_green {
		background-color: #61ffbd;
		color: black;
	}
}
.link-btn {
	font-size: 1.8rem;
	color: rgb(55, 55, 55);
	// text-shadow: 0 2px 4px rgba(black, 0.3);
}

.block {
	box-shadow: 0 2px 4px rgba(black, 0.25);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	&__header {
		padding: 1rem 2rem;
		font-size: 1.8rem;
		border-bottom: 1px solid var(--color2);
	}

	&__content {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.4rem;
	}
}

.title {
	font-size: 1.8rem;
	font-weight: 600;

	span {
		color: #747474;
	}
}

.circle-bar {
	@property --progress-value {
		syntax: "<integer>";
		// inherits: false;
		initial-value: 0;
	}
	--width: 100;
	--stroke-width: 18;
	--stroke-color: var(--color3);

	&__descr {
		font-size: 1.6rem;
		text-align: center;
		margin-bottom: 0.3em;
	}

	&__body {
		width: calc(var(--width) * 1px);
		aspect-ratio: 1;
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;

		background: radial-gradient(
				closest-side,
				white calc(100% - var(--stroke-width) / var(--width) * 100%),
				transparent calc(100% - var(--stroke-width) / var(--width) * 100%) 100%
			),
			conic-gradient(var(--stroke-color) calc(var(--progress-value) * 1%), #e8e8e8 0);

		&::before {
			counter-reset: value var(--progress-value);
			content: counter(value);
			font-size: 32px;
			color: var(--stroke-color);
			font-weight: 600;
		}
	}
}

.popup {
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	gap: 10px;
	top: 0;
	right: 0;
	padding: 15px;
	padding-bottom: 30px;
	display: none;
	background-color: var(--bg);
	box-shadow: 0 2px 20px rgba(black, 0.5);
	border-radius: 5px;

	&.active {
		display: flex;
	}
	&__close-btn {
		font-size: 1.6rem;
	}
	&__input {
	}

	label {
		font-size: 1.6rem;
		display: flex;
		align-items: center;
		gap: 6px;
		select {
			font-size: 1.8rem;
			padding: 3px 8px;
		}
	}

	&__footer {
		margin-top: 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: stretch;
	}

	&__action-status {
		font-size: 1.6rem;
		padding: 0 1rem;
		visibility: hidden;
		&.success {
			visibility: visible;
			&::after {
				content: "Успешно";
				color: #007443;
			}
		}
		&.failed {
			visibility: visible;
			&::after {
				content: "Ошибка";
				color: rgb(183, 0, 0);
			}
		}
	}

	&__link-btn {
		padding: 0 1rem;
		visibility: hidden;
		font-size: 1.6rem;

		&.active {
			visibility: visible;
			color: gray;
		}
	}
}
.input {
	line-height: 2em;
	font-size: 1.6rem;
	padding: 0 1rem;
	border-radius: 3px;
	border: 1px solid gray;
	min-width: 200px;
}
